<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false);
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

    function renderResults(argument) {
        var q = document.forms["qform"]["q"].value;
        var r = httpGet('http://localhost:3000/api/search?q=' + q);
        document.getElementById("results").innerHTML = r;
    }
    </script>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form name="qform" onsubmit="renderResults(); return false;">
        Enter Query: <input type="text" name="q"> <input type="submit" value="Submit"> <p>(Case insensitive)</p>
    </form>
    <p id='results'> </p>
</body>

</html>